In [56]:
# Importing necessary libraries
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [57]:
# Reading in the data
housing_df = pd.read_csv("combined_data_clean.csv")
housing_df.head()

,id,Price,Address,zip,status,mls,Subdivision,Year Built,Bedrooms,Bathrooms,Approx SQFT,CrimeRate
0,1,427167,3231 W MARYLAND AVE,85017,Active,6395749,WEST PLAZA 6 LOT 614-787,1958,3,2.0,1302.0,4.1
1,2,400000,5109 E THOMAS RD,85018,Active,6243667,PAPAGO VILLAGE,1943,0,0.0,1358.0,2.2
2,3,399900,8020 W STELLA AVE,85303,Active,6384821,SHALIMAR,1997,3,2.0,1505.0,0.0
3,4,349000,6944 W Verde LN,85033,Active,6395738,MARYVALE TERRACE NO. 49,1983,3,3.0,1514.0,3.0
4,5,419000,4105 W PASADENA AVE,85019,Active,6395732,TU-DOR ESTATES,1971,4,2.0,1908.0,2.5

In [58]:
# Check datatypes and make conversions if necessary
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2265 entries, 0 to 2264
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           2265 non-null   int64
 1   Price        2265 non-null   int64
 2   Address      2265 non-null   object
 3   zip          2265 non-null   int64
 4   status       2265 non-null   object
 5   mls          2265 non-null   int64
 6   Subdivision  2261 non-null   object
 7   Year Built   2265 non-null   int64
 8   Bedrooms     2265 non-null   int64
 9   Bathrooms    2265 non-null   float64
 10  Approx SQFT  2265 non-null   float64
 11  CrimeRate    2205 non-null   float64
dtypes: float64(3), int64(6), object(3)
memory usage: 212.5+ KB

In [59]:
# Interpolation
housing_df1 = housing_df.fillna(2.5)

In [60]:
# Checking the data again
housing_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2265 entries, 0 to 2264
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           2265 non-null   int64
 1   Price        2265 non-null   int64
 2   Address      2265 non-null   object
 3   zip          2265 non-null   int64
 4   status       2265 non-null   object
 5   mls          2265 non-null   int64
 6   Subdivision  2265 non-null   object
 7   Year Built   2265 non-null   int64
 8   Bedrooms     2265 non-null   int64
 9   Bathrooms    2265 non-null   float64
 10  Approx SQFT  2265 non-null   float64
 11  CrimeRate    2265 non-null   float64
dtypes: float64(3), int64(6), object(3)
memory usage: 212.5+ KB

In [61]:
education_df = pd.read_csv("education_by_zip.csv")
education_df.head()
education_df.rename(columns={'Zip':'zip'},inplace=True)
education_df.head()

     zip Elem_School_District  Hightest_Rated_School
0  85003   Phoenix Elementary                  94.44
1  85004   Phoenix Elementary                  94.44
2  85006   Phoenix Elementary                  94.44
3  85007   Phoenix Elementary                  94.44
4  85008                Balsz                  81.79

In [62]:
housing_df1.drop_duplicates()

,id,Price,Address,zip,status,mls,Subdivision,Year Built,Bedrooms,Bathrooms,Approx SQFT,CrimeRate
0,1,427167,3231 W MARYLAND AVE,85017,Active,6395749,WEST PLAZA 6 LOT 614-787,1958,3,2.0,1302.0,4.1
1,2,400000,5109 E THOMAS RD,85018,Active,6243667,PAPAGO VILLAGE,1943,0,0.0,1358.0,2.2
2,3,399900,8020 W STELLA AVE,85303,Active,6384821,SHALIMAR,1997,3,2.0,1505.0,0.0
3,4,349000,6944 W Verde LN,85033,Active,6395738,MARYVALE TERRACE NO. 49,1983,3,3.0,1514.0,3.0
4,5,419000,4105 W PASADENA AVE,85019,Active,6395732,TU-DOR ESTATES,1971,4,2.0,1908.0,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...
2260,2311,600000,3402 E CAROL ANN WAY,85032,Closed,6368329,BELLA TERRA,1981,3,2.0,2012.0,3.2
2261,2312,375000,739 E Constance WAY,85042,Closed,6358973,VILLAGES AT VERONA,2016,3,2.5,1499.0,2.9
2262,2313,365000,7301 W CHERYL DR,85345,Closed,6365681,SUNTOWN UNIT 2,1972,3,2.0,1581.0,0.0
2263,2314,529000,4637 E GRANADA RD,85008,Closed,6354718,RANCHO MIO,1953,3,2.0,1710.0,4.5
2264,2315,460000,2016 W HOLLY ST,85009,Closed,6362564,VENICE,1953,3,2.0,1145.0,4.0

In [63]:
merged_df=housing_df1.merge(education_df, how='left', on='zip')
merged_df

,id,Price,Address,zip,status,mls,Subdivision,Year Built,Bedrooms,Bathrooms,Approx SQFT,CrimeRate,Elem_School_District,Hightest_Rated_School
0,1,427167,3231 W MARYLAND AVE,85017,Active,6395749,WEST PLAZA 6 LOT 614-787,1958,3,2.0,1302.0,4.1,Alhambra,100.04
1,2,400000,5109 E THOMAS RD,85018,Active,6243667,PAPAGO VILLAGE,1943,0,0.0,1358.0,2.2,Creighton,75.80
2,3,399900,8020 W STELLA AVE,85303,Active,6384821,SHALIMAR,1997,3,2.0,1505.0,0.0,Cartwright,95.89
3,4,349000,6944 W Verde LN,85033,Active,6395738,MARYVALE TERRACE NO. 49,1983,3,3.0,1514.0,3.0,Cartwright,95.89
4,5,419000,4105 W PASADENA AVE,85019,Active,6395732,TU-DOR ESTATES,1971,4,2.0,1908.0,2.5,Alhambra,100.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260,2311,600000,3402 E CAROL ANN WAY,85032,Closed,6368329,BELLA TERRA,1981,3,2.0,2012.0,3.2,Paradise Valley Unified,99.97
2261,2312,375000,739 E Constance WAY,85042,Closed,6358973,VILLAGES AT VERONA,2016,3,2.5,1499.0,2.9,Roosevelt,76.54
2262,2313,365000,7301 W CHERYL DR,85345,Closed,6365681,SUNTOWN UNIT 2,1972,3,2.0,1581.0,0.0,Pendergast,85.28
2263,2314,529000,4637 E GRANADA RD,85008,Closed,6354718,RANCHO MIO,1953,3,2.0,1710.0,4.5,Balsz,81.79
2264,2315,460000,2016 W HOLLY ST,85009,Closed,6362564,VENICE,1953,3,2.0,1145.0,4.0,Murphy,65.70

In [64]:
new_housing_df=merged_df.drop(columns=['mls','Address','id','Subdivision','status','Elem_School_District', 'Bedrooms', 'Bathrooms'],axis=1)
new_housing_df

       Price    zip  Year Built  Approx SQFT  CrimeRate  Hightest_Rated_School
0     427167  85017        1958       1302.0        4.1                 100.04
1     400000  85018        1943       1358.0        2.2                  75.80
2     399900  85303        1997       1505.0        0.0                  95.89
3     349000  85033        1983       1514.0        3.0                  95.89
4     419000  85019        1971       1908.0        2.5                 100.04
...      ...    ...         ...          ...        ...                    ...
2260  600000  85032        1981       2012.0        3.2                  99.97
2261  375000  85042        2016       1499.0        2.9                  76.54
2262  365000  85345        1972       1581.0        0.0                  85.28
2263  529000  85008        1953       1710.0        4.5                  81.79
2264  460000  85009        1953       1145.0        4.0                  65.70

[2265 rows x 6 columns]

In [65]:
# Split our preprocessed data into our features and target arrays
y = new_housing_df["Price"].values
X = new_housing_df.drop(["Price"],axis=1).values

X

array([[8.5017e+04, 1.9580e+03, 1.3020e+03, 4.1000e+00, 1.0004e+02],
       [8.5018e+04, 1.9430e+03, 1.3580e+03, 2.2000e+00, 7.5800e+01],
       [8.5303e+04, 1.9970e+03, 1.5050e+03, 0.0000e+00, 9.5890e+01],
       ...,
       [8.5345e+04, 1.9720e+03, 1.5810e+03, 0.0000e+00, 8.5280e+01],
       [8.5008e+04, 1.9530e+03, 1.7100e+03, 4.5000e+00, 8.1790e+01],
       [8.5009e+04, 1.9530e+03, 1.1450e+03, 4.0000e+00, 6.5700e+01]])

In [66]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [67]:
#clf = RandomForestRegressor(n_estimators = 50000, max_leaf_nodes = 10000, random_state = 78)
#clf.fit(X_train, y_train)

# Use the random grid to search for best hyperparameters
# First create the base model to tune
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 1000, stop = 10000, num = 100)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10, 15, 20, 25, 30]
# Minimum number of samples required at each leaf node
max_leaf_nodes = [10, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]
min_samples_leaf = [1, 2, 4, 6, 8, 10, 12]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'max_leaf_nodes': max_leaf_nodes,
               'bootstrap': bootstrap}
rf = RandomForestRegressor()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(X_train, y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

RandomizedSearchCV(cv=3, estimator=RandomForestRegressor(), n_iter=100,
                   n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'max_leaf_nodes': [10, 100, 200, 300,
                                                           400, 500, 600, 700,
                                                           800, 900, 1000],
                                        'min_samples_leaf': [1, 2, 4, 6, 8, 10,
                                                             12],
                                        'min_samples_split': [2, 5, 10, 15, 20,
                                                              25, 30],
                                        'n_estimators': [1000, 1090, 1181, 1272,
                                                         1363, 1454, 1545, 1636,
                                                         1727, 1818, 1909, 2000,
                                                         2090, 2181, 2272, 2363,
                                                         2454, 2545, 2636, 2727,
                                                         2818, 2909, 3000, 3090,
                                                         3181, 3272, 3363, 3454,
                                                         3545, 3636, ...]},
                   random_state=42, verbose=2)

In [68]:
# best parameters
rf_random.best_params_

{'n_estimators': 7272,
 'min_samples_split': 2,
 'min_samples_leaf': 2,
 'max_leaf_nodes': 700,
 'max_features': 'sqrt',
 'max_depth': 20,
 'bootstrap': True}

In [69]:
def evaluate(model, test_features, test_labels):
    predictions = model.predict(test_features)
    errors = abs(predictions - test_labels)
    mape = 100 * np.mean(errors / test_labels)
    accuracy = 100 - mape
    print('Model Performance')
    print('Average Error: {:0.4f} degrees.'.format(np.mean(errors)))
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    
    return accuracy

In [70]:
base_model = RandomForestRegressor(n_estimators = 10, random_state = 42)
base_model.fit(X_train, y_train)
base_accuracy = evaluate(base_model, X_test, y_test)

Model Performance
Average Error: 62789.1736 degrees.
Accuracy = 87.40%.

In [71]:
best_random = rf_random.best_estimator_
random_accuracy = evaluate(best_random, X_test, y_test)

Model Performance
Average Error: 58364.3270 degrees.
Accuracy = 88.24%.

In [72]:
print(f'Training Score: {clf.score(X_train, y_train)}')
print(f'Testing Score: {clf.score(X_test, y_test)}')

Training Score: 0.9618677359173311
Testing Score: 0.7274433186053311

In [14]:
predicted=clf.predict(X_test)
predicted

array([469917.66903143, 463755.77145619, 449131.02781333, 778932.57156257,
       339072.47168   , 680721.55128   , 516989.76912   , 625418.73674   ,
       347466.71393524, 334361.97155   , 462403.04133905, 452733.739     ,
       455030.41998   , 335926.70434   , 617368.49243714, 500035.09716952,
       543669.06539714, 682502.49137778, 330612.18655333, 602493.28706   ,
       892382.1553    , 526116.30146333, 482716.71785714, 431890.58923333,
       772731.90462   , 347553.72897619, 824539.5613    , 529847.4603    ,
       401525.65320903, 671573.62147111, 380352.96691587, 829252.65734667,
       365133.08706095, 390631.67004   , 530204.04116   , 579854.81305333,
       313248.1067    , 342954.21541333, 378300.95033143, 472709.28572   ,
       541611.62788762, 705916.88434   , 634145.55508   , 382503.66968667,
       831724.6203454 , 362035.45176667, 358500.85922095, 399100.55966   ,
       490702.24326   , 374604.69306857, 292028.64848667, 333675.80201714,
       473338.83665429, 420919.05961905, 606582.86118   , 805166.77632   ,
       568525.95223333, 373332.54351333, 733704.79580952, 518333.8996    ,
       607294.80002   , 455270.62371683, 826672.73062667, 495447.60306191,
       327523.04016571, 329978.64556667, 648227.29612   , 428396.05608   ,
       459205.9673    , 391761.76071333, 930098.87733333, 429167.10453048,
       784823.53262626, 377026.37223111, 456940.7656    , 641975.32935333,
       675795.86391968, 571393.27357905, 384181.80975333, 426779.9453619 ,
       344343.65104143, 891126.66218   , 701430.15345167, 344937.97153524,
       477657.82983984, 437529.14208381, 471661.45637333, 561267.37750367,
       767804.06196   , 685666.57314286, 395230.98654   , 797233.56626   ,
       361888.77747333, 668446.65002596, 475292.2179    , 500132.12202   ,
       332494.45572095, 392357.05062   , 842488.09658   , 478201.17846   ,
       403505.42988286, 362135.51388   , 466771.00229524, 704567.96608498,
       425353.71482667, 509343.7771    , 569299.78471333, 461120.36019333,
       348656.95418095, 488547.39688   , 407493.96765333, 387614.38612   ,
       528765.39041871, 505606.8142    , 381923.19374889, 399043.19578571,
       735682.90547619, 341560.10128   , 349197.47974   , 535698.53021524,
       395803.94917619, 436274.89053619, 407596.66599333, 379570.5169    ,
       807386.36102   , 699971.6077    , 412344.53838667, 388137.1701619 ,
       929816.60693111, 476318.65931333, 483593.40879619, 662139.52922635,
       335064.51364   , 413374.79454   , 388468.74872   , 553015.40196   ,
       414867.85575238, 571062.77706   , 470429.55756   , 888704.533015  ,
       635257.58415048, 324890.18722476, 370421.54635333, 522964.96989048,
       380131.2084    , 342644.96352667, 624642.17644   , 598450.94245333,
       668825.2562    , 580396.50096933, 600630.34274667, 688143.47910571,
       504123.96510667, 420054.8546    , 402078.99376   , 380603.06862   ,
       414900.24208667, 505994.82256921, 432681.67799524, 458504.7356    ,
       654752.12310667, 701074.52454667, 401571.17102667, 384875.33779286,
       467472.26764667, 358533.18906   , 407127.40184286, 499468.0608    ,
       461982.76824   , 366587.08878   , 371414.15157333, 499660.84789333,
       516711.73916857, 767584.6461    , 441728.74947905, 428815.99121429,
       464960.63114   , 521663.49796667, 482592.13276   , 782148.19112095,
       339212.98650667, 468492.75968   , 575503.67417333, 524407.34925905,
       866077.30066   , 488515.2523    , 690628.33823333, 371725.27642127,
       659575.23072   , 783179.96064   , 462362.03277333, 499568.41296   ,
       542574.8185    , 357422.80936667, 422166.68660857, 367473.75546571,
       360134.63668   , 375357.8217819 , 432794.26503333, 644813.24528   ,
       445325.87216667, 411582.0428    , 371309.90536667, 767318.55428357,
       588087.95788   , 357194.96957492, 822695.72843238, 810796.51865333,
       793710.81204   , 390469.13426   , 500221.64760667, 785279.291334  ,
       624988.35626   , 470332.35728762, 709671.60702   , 443317.0157    ,
       344393.14883333, 372284.71969333, 367114.23685905, 395779.8621    ,
       567636.61727333, 554031.55249366, 320810.2894346 , 458330.25559619,
       533064.82823333, 432590.12182667, 665424.48678   , 357198.19808   ,
       414543.81116   , 529878.19048   , 375690.64852   , 569149.17132567,
       689163.0219    , 862116.62196921, 366707.23186   , 359140.21789333,
       486150.74319714, 429985.31288   , 309314.39437333, 820337.01099333,
       527899.29869333, 362427.1687781 , 526563.14475333, 436869.42434   ,
       358361.42820476, 751301.85223238, 370608.86562905, 840394.86549733,
       492772.55255619, 457455.73026286, 366712.85132   , 457490.68592048,
       423748.84487238, 642828.10904   , 414533.06433333, 846751.79706   ,
       379739.18366667, 337009.30651333, 380637.03836   , 289000.86996   ,
       777590.9719    , 711892.38948   , 808774.99972   , 377249.5733    ,
       481454.78660667, 368899.25304   , 305532.89776667, 455209.68656   ,
       336514.64342667, 469741.76849333, 534765.58538095, 403584.63660857,
       327542.21236619, 523373.27466667, 551902.68706376, 489350.98508   ,
       418621.0664    , 394061.0999    , 641967.92143333, 392452.27616667,
       541224.37563333, 468691.28744   , 421151.73216667, 533949.43388848,
       440549.37181667, 383486.73091111, 423239.04702   , 359314.11388   ,
       614388.85392   , 306949.78654   , 508555.64453683, 579302.79133333,
       378557.71894   , 621059.89344   , 448651.12470667, 551751.77300667,
       478538.97435333, 392276.10082   , 492236.59509333, 721264.85424   ,
       428295.2759    , 589018.18772   , 884729.98468413, 487102.85982667,
       304582.96042   , 864320.76485048, 766915.27782   , 393613.2203    ,
       735694.54383048, 409819.63085714, 831845.2114673 , 518201.2936    ,
       504729.4266    , 521530.46316   , 400320.96092381, 668307.74146   ,
       392761.5142    , 706169.98063714, 453326.91064286, 856457.76692   ,
       371017.66621619, 353008.15324   , 508124.11902   , 753441.18662349,
       561631.55162087, 675677.50674   , 397657.49581333, 355973.86935968,
       528634.54597619, 489144.05062   , 457960.16349619, 664713.88055143,
       359248.86334   , 464815.17922   , 394696.53954   , 453584.49677333,
       790659.6391    , 403601.05024   , 855784.02854857, 478011.36348   ,
       445148.22967905, 472071.31541333, 439739.29477333, 493791.1126    ,
       383988.23839333, 736349.14874   , 373842.19062   , 404352.10704413,
       438468.2922219 , 431032.25954   , 398038.13063333, 496736.77429333,
       306010.71058857, 675941.229     , 349876.62876   , 375098.63461333,
       405035.11366381, 659514.79916   , 432162.07988   , 352278.09873429,
       303579.11687429, 341299.77998667, 229204.8702    , 523708.53737476,
       366152.5676    , 518821.31876   , 607614.531     , 360595.46302857,
       403330.00642381, 685916.06285524, 711185.71868   , 366667.47794857,
       703359.5425    , 378611.54166   , 703110.77551333, 456782.46269333,
       889525.67688329, 380574.78886   , 415192.6762    , 398685.66726   ,
       437818.1626    , 302370.76266286, 632164.378     , 496534.96982667,
       496140.87528   , 460648.12296   , 408029.07322762, 391641.71269333,
       495419.87950571, 391348.17676   , 523357.51516571, 493447.6998    ,
       721506.36096   , 500721.63979   , 707162.3743859 , 304087.94669619,
       625359.26552   , 410036.53397333, 833354.55008   , 632569.06256667,
       348358.3560581 , 379328.55726   , 318381.65472   , 448509.9073746 ,
       398627.35874   , 479352.75342   , 418923.15918667, 329417.00184   ,
       379369.57832   , 521742.69713143, 836330.21412   , 401642.0271    ,
       584431.031237  , 720677.90446095, 581413.98087933, 508930.21234476,
       512553.93712   , 376963.70564   , 346880.89785524, 448216.30812   ,
       416112.0208    , 390976.96337619, 362218.38904   , 357421.05528667,
       912863.40922   , 571417.54212381, 702601.33238444, 567377.01144667,
       401487.27112667, 608974.80929433, 314383.84080667, 409698.04738381,
       604302.19208   , 431602.70793333, 336401.46984   , 786111.37644   ,
       389605.68362   , 418599.80067619, 769297.69108238, 378728.90566667,
       599354.0619    , 572688.31026   , 407588.69582857, 647947.78134   ,
       600395.99552   , 368281.53165429, 319946.71205714, 625302.46028   ,
       381932.83236222, 416607.5775673 , 525770.26866667, 645998.82794   ,
       544931.75075333, 409898.76085714, 306225.93914476, 346963.11774667,
       510296.62378643, 456069.83433   , 735694.54383048, 412752.31662   ,
       503702.2659    , 550675.11356667, 377367.3344281 , 540869.11394   ,
       496099.9966    , 317877.10535143, 463527.74552   , 670140.43934   ,
       350923.20504   , 726430.0292694 , 479715.31402   , 350934.29740293,
       445061.52276667, 453467.64087143, 582237.05422   , 609817.19972   ,
       413355.03559238, 476015.73740952, 868281.392     , 374697.19155333,
       388290.19861333, 752963.053     , 378272.97961302, 674960.3266673 ,
       384546.6634081 , 745395.77536   , 376975.3229    , 396936.62776667,
       476541.62782   , 403747.7538    , 505561.36018762, 475060.99612667,
       509092.15767933, 746710.42361983, 766227.68891247, 383486.73091111,
       355099.91986619, 560310.31888667, 599479.07042286, 504740.10302   ,
       521742.69713143, 654685.10345333, 506211.3496981 , 415280.06245048,
       531801.11522   , 368594.67539905, 994137.61766   , 600754.47850095,
       648549.69852   , 468330.40883238, 327880.60332381, 494302.16864   ,
       478142.41730794, 516653.85591055, 490206.49490032, 352677.9717981 ,
       524220.81370667, 433773.29146   , 404588.82794762, 532419.20798182,
       850353.15932   , 581743.325459  , 716730.0955    , 355709.15066476,
       459842.81870476, 610024.81636   , 516373.07922   , 562188.80116   ,
       535933.69849333, 356295.14248762, 439435.60701048, 386915.88414667,
       462179.76946667, 471127.79388   , 542327.20808667, 893859.9347046 ,
       404923.28878   , 633578.90718   , 379797.03676   , 771610.9319    ,
       442679.0456    , 361693.47554   , 592545.4009    , 853976.34403016,
       610895.44597048, 387820.12617714, 446778.24116   , 494278.28997333,
       505900.99622   , 414133.70077333, 861583.50418   , 383204.55856   ,
       356644.6838581 , 524459.02035344, 340829.19432   , 442838.26504952,
       371964.56423333, 378098.58469714, 359545.23532   , 626454.80704   ,
       369357.65140667, 404103.8004    , 453003.81544   , 371990.47203333,
       438671.18439048, 343025.0634    , 648625.01089429])

In [15]:
comparison_df=pd.DataFrame(
{'actual':y_test,
 'predicted': predicted
})
comparison_df

     actual      predicted
0    475900  469917.669031
1    440000  463755.771456
2    440000  449131.027813
3    780000  778932.571563
4    285000  339072.471680
..      ...            ...
562  500000  453003.815440
563  375000  371990.472033
564  400000  438671.184390
565  340000  343025.063400
566  600000  648625.010894

[567 rows x 2 columns]

In [16]:
pd.DataFrame(X_test)

           0       1       2    3      4
0    85032.0  1972.0  1380.0  3.2  99.97
1    85041.0  2013.0  1681.0  4.5  76.54
2    85303.0  2002.0  1866.0  0.0  95.89
3    85020.0  1993.0  2517.0  2.1  97.13
4    85041.0  1949.0  1288.0  4.5  76.54
..       ...     ...     ...  ...    ...
562  85006.0  1939.0   942.0  1.9  94.44
563  85043.0  1976.0  1192.0  3.2  76.86
564  85032.0  1974.0  1144.0  3.2  99.97
565  85033.0  2000.0   919.0  3.0  95.89
566  85013.0  1947.0  1455.0  2.0  72.93

[567 rows x 5 columns]

In [19]:
to_predict = [[85032.0, 2021, 3380.0, 4.0, 99.97]]

In [20]:
clf.predict(to_predict)

array([883487.65219787])

In [31]:
from pprint import pprint
# Look at parameters used by our current forest
print('Parameters currently in use:\n')
pprint(clf.get_params())

Parameters currently in use:

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': 10000,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 50000,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 78,
 'verbose': 0,
 'warm_start': False}