In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('final_combined_data.csv')
df.head

<bound method NDFrame.head of         id  id.1   Price              Address    zip  \
0        0     1  427167  3231 W MARYLAND AVE  85017
1        1    33  320000       4144 N 29TH DR  85017
2        2   176  345000  2921 W HIGHLAND AVE  85017
3        3   204  354000       6019 N 32ND DR  85017
4        4   242  335000      3318 W SELLS DR  85017
...    ...   ...     ...                  ...    ...
2260  2260  1217  290000      1206 E ADAMS ST  85034
2261  2261   743  979999  8364 W MISSOURI AVE  85305
2262  2262   852  850000       6075 N 84TH DR  85305
2263  2263  1715  870000      8375 W LUKE AVE  85305
2264  2264  2001  431500     3219 S EDWARD DR  85282

                            status      mls  \
0                           Active  6395749
1                           Active  6395529
2     UCB (Under Contract-Backups)  6389042
3                           Active  6348070
4                           Active  6388293
...                            ...      ...
2260                        Closed  6344630
2261                        Active  6386354
2262                        Active  6386889
2263                        Closed  6359434
2264                        Closed  6365501

                                Subdivision  Year Built  Bedrooms  Bathrooms  \
0                  WEST PLAZA 6 LOT 614-787        1958         3       2.00
1                           MISSION MANOR 2        1952         4       2.00
2                       NORTHWEST VILLAGE 2        1953         4       2.00
3                       MARYVALE PARK 5 AMD        1954         3       2.00
4                          LYNNHAVEN PLAT 2        1954         3       1.75
...                                     ...         ...       ...        ...
2260  EASTLAKE PARK UNIT ONE LOT 13-16 TR A        1926         2       1.00
2261                         MISSOURI RANCH        2003         5       3.00
2262                  DESERT MIRAGE ESTATES        2001         7       3.50
2263                         MISSOURI RANCH        2003         6       5.00
2264                 PETERSON PARK PLAT 3-B        1970         3       2.00

      Approx SQFT  CrimeRate Elem_School_District  Hightest_Rated_School
0          1302.0        4.1             Alhambra                 100.04
1          1356.0        4.1             Alhambra                 100.04
2          1272.0        4.1             Alhambra                 100.04
3          1220.0        4.1             Alhambra                 100.04
4          1404.0        4.1             Alhambra                 100.04
...           ...        ...                  ...                    ...
2260        832.0        1.9               Wilson                  68.34
2261       4058.0        NaN           Pendergast                  85.28
2262       3967.0        NaN           Pendergast                  85.28
2263       4058.0        NaN           Pendergast                  85.28
2264       1176.0        0.0                Tempe                  94.49

[2265 rows x 15 columns]>

In [3]:
df.dtypes

id                         int64
id.1                       int64
Price                      int64
Address                   object
zip                        int64
status                    object
mls                        int64
Subdivision               object
Year Built                 int64
Bedrooms                   int64
Bathrooms                float64
Approx SQFT              float64
CrimeRate                float64
Elem_School_District      object
Hightest_Rated_School    float64
dtype: object

In [4]:
zip_price = df.groupby('zip').mean()
zip_price = zip_price[['Price']]
zip_price
zip_price2 = zip_price.copy()

In [5]:
zip_price.Price.dtype

dtype('float64')

In [6]:
zp_mean = zip_price.mean()
zp_mean

Price    544419.132154
dtype: float64

In [7]:
zp_med = zip_price.median()
zp_med

Price    495126.648148
dtype: float64

In [8]:
zip_price['mean_delta'] = zip_price['Price'] - zp_med['Price']
zip_price

               Price     mean_delta
zip
85003  661916.368421  166789.720273
85004  521500.000000   26373.351852
85006  500321.629032    5194.980884
85007  546167.954545   51041.306397
85008  466360.964912  -28765.683236
85009  347713.736111 -147412.912037
85012  843450.000000  348323.351852
85013  631842.428571  136715.780423
85014  646398.326923  151271.678775
85015  495126.648148       0.000000
85016  701211.073529  206084.425381
85017  360606.098361 -134520.549787
85018  775842.175000  280715.526852
85019  381597.739130 -113528.909018
85020  597025.423729  101898.775581
85021  595848.775510  100722.127362
85022  600092.369048  104965.720899
85023  527031.852459   31905.204311
85028  766039.440000  270912.791852
85029  467773.293578  -27353.354570
85031  378021.782609 -117104.865539
85032  551828.651163   56702.003015
85033  378476.917647 -116649.730501
85034  390300.000000 -104826.648148
85035  364230.810811 -130895.837337
85037  386909.090909 -108217.557239
85040  391787.647059 -103339.001089
85041  446309.028369  -48817.619779
85042  520735.435294   25608.787146
85043  422268.750000  -72857.898148
85051  406586.546392  -88540.101756
85053  448738.297872  -46388.350276
85250  803088.888889  307962.240741
85251  815446.875000  320320.226852
85254  864947.571429  369820.923280
85257  732858.312500  237731.664352
85258  830833.333333  335706.685185
85281  578445.238095   83318.589947
85282  431500.000000  -63626.648148
85301  385003.109375 -110123.538773
85302  456531.632911  -38595.015237
85303  443627.000000  -51499.648148
85304  458275.671642  -36850.976506
85305  899999.666667  404873.018519
85306  459900.000000  -35226.648148
85339  488004.593750   -7122.054398
85345  419178.062500  -75948.585648

In [9]:
zip_price['abs_mean_delta'] = zip_price['mean_delta'].abs()
zip_price

               Price     mean_delta  abs_mean_delta
zip
85003  661916.368421  166789.720273   166789.720273
85004  521500.000000   26373.351852    26373.351852
85006  500321.629032    5194.980884     5194.980884
85007  546167.954545   51041.306397    51041.306397
85008  466360.964912  -28765.683236    28765.683236
85009  347713.736111 -147412.912037   147412.912037
85012  843450.000000  348323.351852   348323.351852
85013  631842.428571  136715.780423   136715.780423
85014  646398.326923  151271.678775   151271.678775
85015  495126.648148       0.000000        0.000000
85016  701211.073529  206084.425381   206084.425381
85017  360606.098361 -134520.549787   134520.549787
85018  775842.175000  280715.526852   280715.526852
85019  381597.739130 -113528.909018   113528.909018
85020  597025.423729  101898.775581   101898.775581
85021  595848.775510  100722.127362   100722.127362
85022  600092.369048  104965.720899   104965.720899
85023  527031.852459   31905.204311    31905.204311
85028  766039.440000  270912.791852   270912.791852
85029  467773.293578  -27353.354570    27353.354570
85031  378021.782609 -117104.865539   117104.865539
85032  551828.651163   56702.003015    56702.003015
85033  378476.917647 -116649.730501   116649.730501
85034  390300.000000 -104826.648148   104826.648148
85035  364230.810811 -130895.837337   130895.837337
85037  386909.090909 -108217.557239   108217.557239
85040  391787.647059 -103339.001089   103339.001089
85041  446309.028369  -48817.619779    48817.619779
85042  520735.435294   25608.787146    25608.787146
85043  422268.750000  -72857.898148    72857.898148
85051  406586.546392  -88540.101756    88540.101756
85053  448738.297872  -46388.350276    46388.350276
85250  803088.888889  307962.240741   307962.240741
85251  815446.875000  320320.226852   320320.226852
85254  864947.571429  369820.923280   369820.923280
85257  732858.312500  237731.664352   237731.664352
85258  830833.333333  335706.685185   335706.685185
85281  578445.238095   83318.589947    83318.589947
85282  431500.000000  -63626.648148    63626.648148
85301  385003.109375 -110123.538773   110123.538773
85302  456531.632911  -38595.015237    38595.015237
85303  443627.000000  -51499.648148    51499.648148
85304  458275.671642  -36850.976506    36850.976506
85305  899999.666667  404873.018519   404873.018519
85306  459900.000000  -35226.648148    35226.648148
85339  488004.593750   -7122.054398     7122.054398
85345  419178.062500  -75948.585648    75948.585648

In [10]:
min_zip = zip_price.abs_mean_delta.min()

In [11]:
zip_price.loc[zip_price['abs_mean_delta'] == min_zip]

               Price  mean_delta  abs_mean_delta
zip
85015  495126.648148         0.0             0.0

In [12]:
zip_price2['mean_delta'] = zip_price2['Price'] - zp_mean['Price']
zip_price2

               Price     mean_delta
zip
85003  661916.368421  117497.236267
85004  521500.000000  -22919.132154
85006  500321.629032  -44097.503121
85007  546167.954545    1748.822392
85008  466360.964912  -78058.167241
85009  347713.736111 -196705.396043
85012  843450.000000  299030.867846
85013  631842.428571   87423.296418
85014  646398.326923  101979.194769
85015  495126.648148  -49292.484006
85016  701211.073529  156791.941376
85017  360606.098361 -183813.033793
85018  775842.175000  231423.042846
85019  381597.739130 -162821.393023
85020  597025.423729   52606.291575
85021  595848.775510   51429.643356
85022  600092.369048   55673.236894
85023  527031.852459  -17387.279695
85028  766039.440000  221620.307846
85029  467773.293578  -76645.838576
85031  378021.782609 -166397.349545
85032  551828.651163    7409.519009
85033  378476.917647 -165942.214507
85034  390300.000000 -154119.132154
85035  364230.810811 -180188.321343
85037  386909.090909 -157510.041245
85040  391787.647059 -152631.485095
85041  446309.028369  -98110.103785
85042  520735.435294  -23683.696860
85043  422268.750000 -122150.382154
85051  406586.546392 -137832.585762
85053  448738.297872  -95680.834281
85250  803088.888889  258669.756735
85251  815446.875000  271027.742846
85254  864947.571429  320528.439275
85257  732858.312500  188439.180346
85258  830833.333333  286414.201180
85281  578445.238095   34026.105942
85282  431500.000000 -112919.132154
85301  385003.109375 -159416.022779
85302  456531.632911  -87887.499242
85303  443627.000000 -100792.132154
85304  458275.671642  -86143.460512
85305  899999.666667  355580.534513
85306  459900.000000  -84519.132154
85339  488004.593750  -56414.538404
85345  419178.062500 -125241.069654

In [13]:
zip_price2['abs_mean_delta'] = zip_price2['mean_delta'].abs()
zip_price2

               Price     mean_delta  abs_mean_delta
zip
85003  661916.368421  117497.236267   117497.236267
85004  521500.000000  -22919.132154    22919.132154
85006  500321.629032  -44097.503121    44097.503121
85007  546167.954545    1748.822392     1748.822392
85008  466360.964912  -78058.167241    78058.167241
85009  347713.736111 -196705.396043   196705.396043
85012  843450.000000  299030.867846   299030.867846
85013  631842.428571   87423.296418    87423.296418
85014  646398.326923  101979.194769   101979.194769
85015  495126.648148  -49292.484006    49292.484006
85016  701211.073529  156791.941376   156791.941376
85017  360606.098361 -183813.033793   183813.033793
85018  775842.175000  231423.042846   231423.042846
85019  381597.739130 -162821.393023   162821.393023
85020  597025.423729   52606.291575    52606.291575
85021  595848.775510   51429.643356    51429.643356
85022  600092.369048   55673.236894    55673.236894
85023  527031.852459  -17387.279695    17387.279695
85028  766039.440000  221620.307846   221620.307846
85029  467773.293578  -76645.838576    76645.838576
85031  378021.782609 -166397.349545   166397.349545
85032  551828.651163    7409.519009     7409.519009
85033  378476.917647 -165942.214507   165942.214507
85034  390300.000000 -154119.132154   154119.132154
85035  364230.810811 -180188.321343   180188.321343
85037  386909.090909 -157510.041245   157510.041245
85040  391787.647059 -152631.485095   152631.485095
85041  446309.028369  -98110.103785    98110.103785
85042  520735.435294  -23683.696860    23683.696860
85043  422268.750000 -122150.382154   122150.382154
85051  406586.546392 -137832.585762   137832.585762
85053  448738.297872  -95680.834281    95680.834281
85250  803088.888889  258669.756735   258669.756735
85251  815446.875000  271027.742846   271027.742846
85254  864947.571429  320528.439275   320528.439275
85257  732858.312500  188439.180346   188439.180346
85258  830833.333333  286414.201180   286414.201180
85281  578445.238095   34026.105942    34026.105942
85282  431500.000000 -112919.132154   112919.132154
85301  385003.109375 -159416.022779   159416.022779
85302  456531.632911  -87887.499242    87887.499242
85303  443627.000000 -100792.132154   100792.132154
85304  458275.671642  -86143.460512    86143.460512
85305  899999.666667  355580.534513   355580.534513
85306  459900.000000  -84519.132154    84519.132154
85339  488004.593750  -56414.538404    56414.538404
85345  419178.062500 -125241.069654   125241.069654

In [14]:
min_zip2 = zip_price2.abs_mean_delta.min()
zip_price2.loc[zip_price2['abs_mean_delta'] == min_zip2]

               Price   mean_delta  abs_mean_delta
zip
85007  546167.954545  1748.822392     1748.822392

In [19]:
age_price = df.groupby('Year Built').mean()
age_price = age_price[['Price']]
age_price

                    Price
Year Built
1900        742500.000000
1904        350000.000000
1906        384999.000000
1911        600000.000000
1912        185000.000000
...                   ...
2019        585147.937500
2020        627089.900000
2021        555538.882353
2022        674477.727273
2023        829900.000000

[107 rows x 1 columns]

In [26]:
age_price.loc[[1986]]

                    Price
Year Built
1986        492395.608696

In [27]:
df.Bedrooms.mode()

0    3
dtype: int64

In [28]:
df.Bathrooms.mode()

0    2.0
dtype: float64

In [29]:
df['Approx SQFT'].mean()

1715.2489624724062